<style>
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Hiển thị thành 3 cột */
    gap: 10px;
    /* Khoảng cách giữa các cột */
  }
</style>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">
  <div class="box-header d-flex justify-content-between align-items-center">
    <h3 class="box-title"><b>Reports Table</b></h3>
    <button class="btn btn-primary" onclick="goNew();">New</button>
  </div><!-- /.box-header -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Report Type</th>
        <th>Address</th>
        <th>Describe</th>
        <th>Time Done</th>
        <th>Time Stamp</th>
        <th>Note</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each rp}}
      <tr>
        <td>{{index}}</td>
        <td>
          <div class="image-grid">
            {{#each image}}
            <img src="images/{{this}}" alt="" width="150px" height="150px" />
            {{/each}}
          </div>
        </td>
        <td>{{reportType}}</td>
        <td>{{address}}</td>
        <td>{{describe}}</td>
        <td>{{timeDone}}</td>
        <td>{{timeStamp}}</td>
        <td>{{note}}</td>
        <td>{{status}}</td>
        <td>
          <button class="btn btn-outline-warning" onclick="goEdit('{{_id}}');">Edit</button>
          <hr>
          <button class="btn btn-outline-dark" onclick="goDel('{{_id}}');">Delete</button>
          <hr>
          <button class="btn btn-outline-success" onclick="changeStatus('{{_id}}', '{{status}}');">
            {{#if status}}
            Activate
            {{else}}
            Deactivate
            {{/if}}
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>

<script>


  //chuyển sang trang new
  const goNew = () => {
    window.location.href = `/reports/new`;
  }

  const goEdit = (id) => {
    window.location.href = `/reports/${id}/edit`;
  }

  function goDel(id) {
    if (confirm("Ban co chac muon xoa?")) {
      location.href = `/reports/${id}/deleteById`;
    }
  }

  const changeStatus = (id, currentStatus) => {
    const confirmMessage = currentStatus ? 'deactivate' : 'activate';
    if (confirm(`Are you sure you want to ${confirmMessage} this report?`)) {
      location.href = `/reports/${id}/changeStatus`;
    }
  }
</script>